@import '../../../main-style.scss';
.main-container{
    width: 500px;
    padding-top: 50px;
    height: 100%;
    
    
    .add-button-container{
        
        display: flex;
        justify-content: center;
       
        

        .add-button{
            position: fixed;
            bottom: 10px;
            width: 500px;
            height: 40px;
            margin-top: 50%;
            font-size: 16px;
            background: $purple;
            color: white;
            border: none;
            transition: background-color .3s;

            &:hover{
                
                background-color:darken($color: $purple, $amount: 5%);
            }

            &:active{
                border: none;
                background-color: darken($color:$purple, $amount: 0%);
            }
            
        }
    }
}

.notes-list{
    margin-top:35px ;
}

app-note-card{
    display: block;
    margin-bottom: 25px;
}

