

<div class="main-container">
  <div class="search-bar-container">
    <div class="field">
      <p class="control has-icons-left">
        <input #filterInput class="input" type="text" placeholder="Filtre" (keyup)="filter($event.target.value)">
        <span class="icon is-small is-left">
          <i class="fas fa-search"></i>
        </span>
      </p>
    </div>
  </div>

  <div class="notes-list">
    <app-note-card
     *ngFor="let note of filteredNotess  "
      [link]="generateNotesURL(note)"
      [@itemAnim]
      (delete)="deleteNote(note)"
      [title]="note.title"
      [body]="note.body">
    </app-note-card>
    
  </div>

  <div class="add-button-container">
    <button class="button add-button" routerLink="new">+ Ekle</button>
  </div>

</div>